#questions-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#questions-container .submit-button {
  margin-left: auto; /* float: right; when inside display: flex; */
  margin-top: 1rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;

  color: #fff;
  background-color: #28a745;
  border-color: #1e7e34;
}

#questions-container .submit-button:hover {
  color: #fff;
  background-color: #239a3d;
  border-color: #1e7e34;
}

#questions-container .submit-button:active {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
  box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}

#questions-container .submit-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}

#current-question-container {
  width: 100%;
}

#current-question-container h1 {
  text-align: center;
}

#answers-container {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

#answers-container a {
  text-decoration: none;
}

#answers-container img {
  width: 13vw;
}

#question-indicators-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 6vh;
}

#question-indicators-container > * {
  flex: 1;
}

@media (min-width: 992px) {
  #question-indicators-container {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  #question-indicators-container {
    width: 60%;
  }
}