footer {
  padding: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  color: inherit;
  text-decoration: inherit;
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  footer {
      font-size: 0.7rem;
  }
}