.question-container {
  width: 100%;
}

.question-container .submit-button {
  float: right;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  color: #fff;
  background-color: #28a745;
  border-color: #1e7e34;
}

.question-container .submit-button:hover {
  color: #fff;
  background-color: #239a3d;
  border-color: #1e7e34;
}

.question-container .submit-button:active {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
  box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}

.question-container .submit-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}
