.question-container {
  width: 100%;
}

.question-container .submit-button {
  float: right;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.emoji-container {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.emoji-container img {
  width: 13vw;
  height: 13vw;
  cursor: pointer;
}