html, body, #root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.green-theme {
  background-color: #41803c;

  color: white;
}

@media (min-width: 576px) {
  main {
      width: 90%;
  }
}

@media (min-width: 768px) {
  main {
      width: 80%
  }
}

@media (min-width: 992px) {
  main {
      width: 70%;
  }
}

@media (min-width: 1200px) {
  main {
      width: 60%;
  }
}