html, body, #root {
  height: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.green-theme {
  background-color: #41803c;

  color: white;
}

a:focus {
  outline: rgba(40, 167, 69, 0.5) auto 0.2rem;
}

h1 {
  font-size: 12vw;
}

@media (min-width: 576px) {
  main {
      width: 90%;
  }

  h1 {
      font-size: 10vw;
  }
}

@media (min-width: 768px) {
  main {
      width: 80%
  }

  h1 {
      font-size: 7vw;
  }
}

@media (min-width: 992px) {
  main {
      width: 70%;
  }

  h1 {
      font-size: 5vw;
  }
}

@media (min-width: 1200px) {
  main {
      width: 60%;
  }

  h1 {
      font-size: 4vw;
  }
}