html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 90%;
}

footer {
  padding: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  color: inherit;
  text-decoration: inherit;
}

footer a:hover {
  text-decoration: underline;
}

.green-theme {
  background-color: #41803c;

  color: white;
}

.green-theme footer {
  color: rgba(250, 250, 250, 0.8);
}

@media (min-width: 576px) {
  #root {
      width: 90%;
  }
}

@media (min-width: 768px) {
  #root {
      width: 80%
  }

  footer {
      font-size: 0.7rem;
  }
}

@media (min-width: 992px) {
  #root {
      width: 70%;
  }
}

@media (min-width: 1200px) {
  #root {
      width: 60%;
  }
}