.question-indicator-container:focus {
    outline: rgba(40, 167, 69, 0.5) auto 0.2rem;
}

.question-indicator-container .question-indicator {
    background-color: white;
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 1px;
}

.question-indicator-container a:hover {
    text-decoration: none;
}

@media (min-device-pixel-ratio: 2) {
    .question-indicator-container .question-indicator {
        height: 0.5px;
    }
}

@media (min-device-pixel-ratio: 3) {
    .question-indicator-container .question-indicator {
        height: 0.33333333px;
    }
}

.question-indicator-container.locked-question * {
    opacity: 0.6;
    cursor: not-allowed;
}

.question-indicator-container.current-question * {
    cursor: default;
}

.question-indicator-container.complete-question * {
    cursor: pointer;
    opacity: 0.6;
}

.question-indicator-container.complete-question:hover * {
    opacity: 0.85;
}

.question-indicator-text-container {
    overflow: hidden;
    padding-bottom: 6px;
}

.question-indicator-text {
    text-align: center;
    font-size: 3vw;
    color: white;
}

@media (min-width: 576px) {
  .question-indicator-text {
        font-size: 2.5vw;
  }
}

@media (min-width: 768px) {
    .question-indicator-text {
        font-size: 2.2vw;
    }
}

@media (min-width: 992px) {
    .question-indicator-text {
        font-size: 1.7vw;
    }
}

@media (min-width: 1200px) {
    .question-indicator-text {
        font-size: 1.2vw;
    }
}

.question-indicator-text-animating-in {
    animation: animate-in 450ms linear forwards;
}

.question-indicator-text-animating-out {
    animation: animate-out 250ms linear forwards;
}

.question-indicator-text-hidden {
    transform: translateY(-100%);
}

@keyframes animate-in {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(10%);
    }

    80% {
        transform: translateY(-20%);
    }

    100% {
        transform: initial;
    }
}

@keyframes animate-out {
    0% {
        transform: initial;
    }

    30% {
        transform: translateY(20%);
    }

    35% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(-100%);
    }
}